<div class='modal-movie' data-id='{{id}}'>
  <div class='modal-movie__poster'>
    {{#if poster_path}}
      <img
        class='modal-movie__img'
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt='{{title}}'
      />
    {{else}}
      <img
        class='modal-movie__img'
        src='https://raw.githubusercontent.com/AndreiPenskiy/filmoteka-project/main/src/images/modal-movie/no-poster-available.jpg'
        alt='{{title}}'
      />
    {{/if}}
  </div>

  <div class='modal-movie__container'>
    <h2 class='modal-movie__title'>{{title}}</h2>
    <table class='modal-movie-info'>
      <tr>
        <td class='modal-movie-info__title'>Vote / Votes</td>
        <td class='modal-movie-info__value'>
          <span class='modal-movie-info__rate'>7.3</span>
          /
          <span class='modal-movie-info__rate'>1260</span>
        </td>
      </tr>
      <tr>
        <td class='modal-movie-info__title'>Release</td>
        <td class='modal-movie-info__value'>{{release_date}}</td>
      </tr>
      <tr>
        <td class='modal-movie-info__title'>Popularity</td>
        <td class='modal-movie-info__value'>{{popularity}}</td>
      </tr>
      <tr>
        <td class='modal-movie-info__title'>Original Title</td>
        <td class='modal-movie-info__value'>{{original_title}}</td>
      </tr>
      <tr>
        <td class='modal-movie-info__title'>Genre</td>
        <td class='modal-movie-info__value'>
          {{#each genres}}
            {{this.name}}
          {{/each}}
        </td>
      </tr>
    </table>

    <h3 class='modal-movie-about__title'>About</h3>
    <p class='modal-movie-about__desc'>{{overview}}</p>
    <div class='modal-movie-btn-wrapper'>
      <button class='modal-movie-btn btn-to-watched' type='button' data-button='btn-to-watched'>
        Add to watched
      </button>
      <button class='modal-movie-btn btn-to-queue' type='button' data-button='btn-to-queue'>
        Add to queue
      </button>
    </div>
  </div>

  <button class='modal-movie-close' type='button' aria-label='close modal'></button>
</div>