<div class='modal-movie' data-id='{{id}}'>
  <div class='modal-movie__poster'>
    {{#if poster_path}}
      <img
        class='modal-movie__img'
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt='{{title}}'
      />
    {{else}}
      <img
        class='modal-movie__img'
        src='https://raw.githubusercontent.com/AndreiPenskiy/filmoteka-project/main/src/images/modal-movie/no-poster-available.png'
        alt='{{title}}'
      />
    {{/if}}

    <button class='btn-trailer' type='button' aria-label='play movie trailer'>
      <svg class='btn-trailer__svg' width='68' height='48' viewBox='0 0 68 48'>
        <path
          class='btn-trailer__path'
          d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z'
          fill='#212121'
        ></path>
        <path d='M 45,24 27,14 27,34' fill='#fff'></path>
      </svg>
    </button>
  </div>

  <div class='modal-movie__content'>
    {{#if title}}
      <h2 class='modal-movie__title'>{{title}}</h2>
    {{else}}
      <h2 class='modal-movie__title'>NO TITLE</h2>
    {{/if}}

    <table class='modal-movie-info'>
      <tr>
        <td class='modal-movie-info__title'>Vote / Votes</td>
        <td class='modal-movie-info__value'>
          <span class='modal-movie-info__rate'>{{vote_average}}</span>
          /
          <span class='modal-movie-info__rate'>{{vote_count}}</span>
        </td>
      </tr>
      <tr>
        <td class='modal-movie-info__title'>Popularity</td>
        <td class='modal-movie-info__value'>{{popularity}}</td>
      </tr>
      <tr>
        <td class='modal-movie-info__title'>Release</td>
        <td class='modal-movie-info__value'>{{release_date}}</td>
      </tr>
      <tr>
        <td class='modal-movie-info__title'>Original Title</td>
        <td class='modal-movie-info__value'>{{original_title}}</td>
      </tr>
      <tr>
        <td class='modal-movie-info__title'>Genre</td>
        <td class='modal-movie-info__value'>
          {{#each genres}}
            {{this.name}}
          {{/each}}
        </td>
      </tr>
    </table>

    <div class='modal-movie-about'>
      <h3 class='modal-movie-about__title'>About</h3>
      <p class='modal-movie-about__desc'>{{overview}}</p>
    </div>

    <div class='modal-movie-btn-wrapper' style='clear: both'>
      <button class='modal-movie-btn btn-to-watched' type='button' data-action='{{id}}'>
        Add to watched
      </button>
      <button class='modal-movie-btn btn-to-queue' type='button' data-action='{{id}}'>
        Add to queue
      </button>
    </div>
  </div>

  <button class='modal-movie-close' type='button' aria-label='close modal'>
    <svg class='modal-movie-close__svg' width='30' height='30' viewBox='0 0 30 30'>
      <path class='modal-movie-close__path' d='M8 8L22 22' stroke='black' stroke-width='2'></path>
      <path class='modal-movie-close__path' d='M8 22L22 8' stroke='black' stroke-width='2'></path>
    </svg>
  </button>
</div>